@import url('https://fonts.googleapis.com/css?family=Spartan:300&display=swap');

.modalTitle{
}


.modalClose{
  position: absolute;
  top: 0px;
  right: 5%;
}

.card {
  background-color: #f7f7f7;
  padding: 1rem;
  height: 4rem;
  border: 1px solid #5e5d5c;
  width: auto;
  height: auto;
}

.cards {
  max-width: 1200px;
  margin: 0;
  display: grid;
  grid-gap: 1rem;
  margin-top: 20px;
}

.modal {
  display: none;
  background-color: #f5f5f5;
  font-family: 'Spartan', sans-serif;
  position: fixed;
  z-index: 100;
  max-width: 900px;
  margin: auto;
  padding-right: 5%;
  padding-left: 5%;
  /*width: 100%;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 0%;*/

}

.modalWarpper {
  /*font-family: 'Spartan', sans-serif;
  margin-left: 20%;
  margin-right: 20%;*/
}

.image:hover {
  opacity:1;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity:0.5;
  width: 97%;
}

a {
  font-size: 10px;
}

body {
  background-color: #f3f3f3;
  display: grid;
  font-family: 'Spartan', sans-serif;
  grid-template-columns: 30% 35% 35%;
  display: grid;
  max-width: 900px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  grid-gap: 1px;
}

h2 {
  margin: 0px;
  font-family: 'Spartan', sans-serif;
}

h3 {
  margin: 0px;
  font-family: 'Spartan', sans-serif;
}

div {
  color: #5e5d5c;
}

button {
  color: #5e5d5c;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 20px;
  text-decoration: none;
  background: #f5f5f5;
  cursor: pointer;
  text-align: center;
}

/*#backgrounder {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  width: 100%;
  height: 100%;
}*/

#descriptionText {
  font-size: 12px;
}

#top{
  grid-column: 1 / 3;
}

#hamburger{
  grid-column: 3 / 4;
  grid-row: 1;
  display: none;
  text-align: right;
  flex-direction: column;
}

#description{
  grid-column: 1 / 4;
}

#sideMenu{
  grid-column: 1 / 2;
}

#main{
  grid-column: 2 / 4;
}

#mySidebar{
  position: fixed;
  top: 0px;
  right: 0px;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media only screen and (max-width: 600px) {
  #hamburger {
      display: inline;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 11px;
  }

  #sideMenu{
    display: none;
  }

  #main{
    grid-column: 1 / 4;
  }

  body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  #descriptionText {
    font-size: 9px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
